.errors-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    pointer-events: none;
    align-items: flex-end;
    justify-content: flex-end;
}

.errors-wrapper .errors-container {
    margin: 0 10px 0 auto;
    padding-bottom: 25px;
    max-width: 20%;
    color: var(--white);
}

.errors-wrapper .errors-container .error-item {
    pointer-events: initial;
    background-color: var(--blue-primary);
    padding: 10px;
    margin-top: 15px;
    border-radius: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}

.errors-wrapper .errors-container .error-item h6 {
    font-size: 15px;
    font-weight: var(--bold);
}

.errors-wrapper .errors-container .error-item p {
    margin-top: 5px;
    font-size: 14px;
}

.errors-wrapper .errors-container .error-item p span {
    font-weight: var(--bold);
}

.errors-wrapper .errors-container .error-item .btn {
    margin-top: 5px;
    padding: 7px 20px;
    font-size: 14px;
}

.errors-wrapper .errors-container .error-item .btn:hover {
    background-color: var(--dark-pink) !important;
    color: var(--white);
    opacity: .5;
}

@media only screen and (max-width: 750px) {
    .errors-wrapper .errors-container {
        max-width: 50%;
    }
}