/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 6 version
*/



html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* main */

:root {
    --white: #fff;
    --black: #000;
    --grey: #adbdcc;
    --blue-primary: #0a2540;
    --blue-secondary: #00d4ff;
    --green: #8bff96;
    --red: #ff6b6b;
    --light: 300;
    --regular: 400;
    --semi-bold: 500;
    --bold: 700;
    --columnCountMax: 4;
}

body {
    background-color: var(--white);
    height: 100%;
    width: 100%;
    scrollbar-color: rgba(0, 0, 0, 1) var(--blue-primary);
}

html, body, a, input, button {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: var(--regular);
    color: var(--blue-primary);
}

::-webkit-scrollbar {
    width: 8px;
    /* vertical scrollbars */
    height: 8px;
    /* horizontal scrollbars */
}

::-webkit-scrollbar-track {
    background: var(--blue-primary);
}

::-webkit-scrollbar-thumb {
    background: var(--white);
    height: 10px;
}

::-webkit-scrollbar-track-piece {
    height: 30px;
}

a {
    text-decoration: none;
    font-weight: var(--semi-bold);
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

a:hover {
    opacity: .6;
}

/* container */

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1068px;
}

/* btn */

.btn {
    background-color: var(--black);
    color: var(--white);
    padding: 6px 10px 6px 16px;
    border-radius: 50px;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: var(--semi-bold);
    text-align: center;
    cursor: pointer;
    outline: none;
    border: none;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

.btn:hover {
    opacity: .6;
}

.btn.btn-white {
    color: var(--white);
    background-color: rgba(255, 255, 255, .2);
}

.btn.btn-white:hover {
    opacity: initial;
    background-color: rgba(255, 255, 255, .4);
}

.btn.btn-transparent {
    color: var(--blue-primary);
    background-color: transparent;
}

.btn.btn-blue-primary {
    color: var(--white);
    background-color: var(--blue-primary);
}

.btn.btn-blue-secondary {
    color: var(--blue-primary);
    background-color: var(--blue-secondary);
}

.btn.btn-blue-secondary:hover {
    background-color: var(--white);
    opacity: 1;
}

.btn.btn-success {
    background-color: var(--green) !important;
}

.btn.btn-error {
    background-color: var(--red) !important;
}

.btn .btn-arrow {
    --arrowSpacing: ;
    --arrowHoverTransition: 150ms cubic-bezier(0.215, 0.61, 0.355, 1);
    --arrowHoverOffset: translateX(3px);
    position: relative;
    top: 1px;
    margin-left: 8px;
    stroke-width: 2px;
    fill: none;
    stroke: currentColor;
}

.btn .btn-arrow .btn-arrow-line {
    opacity: 0;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}

.btn:hover .btn-arrow .btn-arrow-line {
    opacity: 1;
}

.btn .btn-arrow .btn-arrow-tip {
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}

.btn:hover .btn-arrow .btn-arrow-tip {
    -webkit-transform: translateX(3px);
    -ms-transform: translateX(3px);
    transform: translateX(3px);
}

/* grid */

.grid-wrapper {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -10;
}

.grid-wrapper .grid {
    position: relative;
    display: -ms-grid;
    display: grid;
    grid: 1fr/repeat(var(--columnCountMax), 1fr);
    height: 100%;
}

.grid-wrapper .grid .grid-line {
    width: 1px;
    background: -o-linear-gradient(top, rgba(66, 71, 112, .15), rgba(66, 71, 112, .15) 50%, transparent 0, transparent);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(66, 71, 112, .15)), color-stop(50%, rgba(66, 71, 112, .15)), color-stop(0, transparent), to(transparent));
    background: linear-gradient(180deg, rgba(66, 71, 112, .15), rgba(66, 71, 112, .15) 50%, transparent 0, transparent);
    background-size: 1px 8px;
}

.grid-wrapper .grid .grid-line:first-of-type, .grid-wrapper .grid .grid-line:last-of-type {
    background: rgba(66, 71, 112, 0.06);
}

.grid-wrapper .grid .grid-line:last-of-type {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

/* background */

.background-rainbow {
    z-index: -5;
    height: 600px;
    width: 100%;
    left: 0;
    right: 0;
    top: -340px;
    bottom: 0;
    position: absolute;
    background: -o-radial-gradient(#ffcb57 23%, rgba(255, 203, 87, 0) 67% 100%) 385px -24px, -o-radial-gradient(#ff333d 0, rgba(255, 51, 61, 0) 60% 100%) -940px 290px, -o-radial-gradient(#90e0ff 10%, rgb(144, 224, 255, 0) 60% 100%) -120px 250px, -o-radial-gradient(#ff333d 40%, rgba(255, 51, 61, 0) 57% 100%) 495px -44px, -o-radial-gradient(#a960ee 30%, rgb(169, 96, 238, 0) 67% 100%) 122px -120px, -o-radial-gradient(#a960ee 10%, rgb(169, 96, 238, 0) 60% 100%) -420px 120px, -o-radial-gradient(#90e0ff 15%, rgb(144, 224, 255, 0) 50% 100%) -620px 0, -o-radial-gradient(#90e0ff 25%, rgb(144, 224, 255, 0) 50% 100%) 520px -250px, #a960ee;
    background: radial-gradient(#ffcb57 23%, rgba(255, 203, 87, 0) 67% 100%) 385px -24px, radial-gradient(#ff333d 0, rgba(255, 51, 61, 0) 60% 100%) -940px 290px, radial-gradient(#90e0ff 10%, rgb(144, 224, 255, 0) 60% 100%) -120px 250px, radial-gradient(#ff333d 40%, rgba(255, 51, 61, 0) 57% 100%) 495px -44px, radial-gradient(#a960ee 30%, rgb(169, 96, 238, 0) 67% 100%) 122px -120px, radial-gradient(#a960ee 10%, rgb(169, 96, 238, 0) 60% 100%) -420px 120px, radial-gradient(#90e0ff 15%, rgb(144, 224, 255, 0) 50% 100%) -620px 0, radial-gradient(#90e0ff 25%, rgb(144, 224, 255, 0) 50% 100%) 520px -250px, #a960ee;
    background-size: 1800% 1800%;
    -webkit-animation: rainbow 18s ease infinite;
    -z-animation: rainbow 18s ease infinite;
    animation: rainbow 18s ease infinite;
    -webkit-transform: skeWy(-12deg);
    -ms-transform: skeWy(-12deg);
    transform: skeWy(-12deg);
}

.background-blue-primary {
    z-index: -15;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    top: 0px;
    bottom: 0;
    position: absolute;
    background-color: var(--blue-primary);
    -webkit-transform: skeWy(-6deg);
    -ms-transform: skeWy(-6deg);
    transform: skeWy(-6deg);
}

.background-white {
    z-index: -15;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    top: 0px;
    bottom: 0;
    position: absolute;
    background-color: #f6f9fc;
    -webkit-transform: skeWy(-6deg);
    -ms-transform: skeWy(-6deg);
    transform: skeWy(-6deg);
    -webkit-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
}

/* header */

#header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
}

/* header > navbar */

#header .navbar {
    height: 68px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}

#header .navbar .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

#header .navbar .nav-logo {
    max-height: 25px;
    width: auto;
}

#header .navbar .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#header .navbar .nav .nav-item {
    padding: 0 20px;
}

#header .navbar .nav .nav-item .nav-link {
    font-weight: var(--bold);
    color: var(--blue-primary);
}

#header .navbar .nav-burger {
    cursor: pointer;
    display: none;
    z-index: 15;
    position: fixed;
    right: 15px;
}

#header .navbar .nav-responsive {
    display: none;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--blue-primary);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    padding: 50px 0;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeOutUp;
    animation-name: fadeOutUp;
    opacity: 0;
}

#header .navbar .nav-responsive.active {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

#header .navbar .nav-responsive .nav-item {
    margin-top: 20px;
}

#header .navbar .nav-responsive .nav-item:first-child {
    margin-top: 0;
}

#header .navbar .nav-responsive .nav-item .nav-link {
    font-weight: var(--bold);
    color: var(--white) !important;
}

/* header > modals */

#header .modal-wrapper {
    position: fixed;
    z-index: 50;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

#header .modal-wrapper.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 1;
    pointer-events: initial;
    -webkit-transition: opacity 0;
    -o-transition: opacity 0;
    transition: opacity 0;
}

#header .modal-wrapper .modal-content {
    position: relative;
    max-height: 80%;
    width: 100%;
    max-width: 500px;
    background-color: var(--white);
    border-radius: 20px;
    padding: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: backOutDown;
    animation-name: backOutDown;
    overflow: auto;
}

#header .modal-wrapper.active .modal-content {
    -webkit-animation-name: backInDown;
    animation-name: backInDown;
}

#header .modal-wrapper .modal-content .modal-close {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    color: var(--blue-primary);
}

#header .modal-wrapper .modal-content .modal-close:hover {
    opacity: .6;
}

/* header > modals > login */

#header .modal-wrapper .modal-content .form-login {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
}

#header .modal-wrapper .modal-content .form-image {
    height: 175px;
    width: auto;
}

#header .modal-wrapper .modal-content .forgot-password, #header .modal-wrapper .modal-content p {
    font-size: 12px;
    font-weight: var(--light);
    font-style: italic;
}

#header .modal-wrapper .modal-content .form-register {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
}

#header .modal-wrapper .modal-content .form-register .inputs-container {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#header .modal-wrapper .modal-content .form-register .inputs-container input:first-child {
    margin-right: 15px;
}

#header .modal-wrapper .modal-content .btn[type="submit"] {
    margin-top: 25px;
}

#header .modal-wrapper .modal-content .btn, #header .modal-wrapper .modal-content .forgot-password, #header .modal-wrapper .modal-content p {
    margin-top: 10px;
}

#header .modal-wrapper .modal-content input {
    width: 100%;
    border: none;
    border-bottom: solid 1px rgba(0, 0, 0, 0.2);
    outline: none;
    background-color: var(--white);
    padding: 0;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    margin-top: 20px;
}

#header .modal-wrapper .modal-content input.error {
    border-bottom: solid 1px rgba(255, 118, 117);
}

#header .modal-wrapper .modal-content input:focus {
    border-bottom: solid 1px rgba(0, 0, 0, 0.6);
}

/* layout */

#layout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

#layout .layout-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#layout .layout-wrapper .layout-text {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-top: 150px;
    color: var(--blue-primary);
}

#layout .layout-wrapper .layout-text .layout-text-title {
    font-size: 50px;
    font-weight: var(--bold);
    letter-spacing: .2px;
}

#layout .layout-wrapper .layout-text .layout-text-desc {
    font-size: 16px;
    margin-top: 25px;
    line-height: 1.6;
}

#layout .layout-wrapper .layout-text .layout-text-btn {
    margin-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#layout .layout-wrapper .layout-mockup {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#layout .layout-wrapper .layout-mockup .layout-mockup-img {
    max-width: 100%;
    height: auto;
    -webkit-animation: float 6s ease-in-out infinite;
    animation: float 6s ease-in-out infinite;
}

#layout .layout-partners {
    padding: 60px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#layout .layout-partners .layout-partners-link {
    width: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

#layout .layout-partners .layout-partners-link .layout-partners-img {
    height: 40px;
    width: auto;
}

/* preview */

#preview {
    margin-top: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    padding: 200px 0;
    color: var(--white);
}

#preview .preview-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#preview .preview-wrapper video {
    max-width: 100%;
}

#preview .preview-wrapper .preview-text {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

#preview .preview-wrapper .preview-text .preview-text-tag {
    color: var(--blue-secondary);
    font-weight: var(--bold);
    font-size: 18px;
}

#preview .preview-wrapper .preview-text .preview-text-title {
    margin-top: 40px;
    font-size: 35px;
    font-weight: var(--bold);
}

#preview .preview-wrapper .preview-text .preview-text-desc {
    margin-top: 30px;
    font-size: 18px;
    color: var(--grey);
    line-height: 1.5;
}

#preview .preview-wrapper .preview-text .preview-text-btn {
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#preview .preview-wrapper .preview-slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

#preview .preview-wrapper .preview-slider .swiper-container {
    width: 300px;
    max-width: 100%;
    height: 300px;
    margin: 0;
}

#preview .preview-wrapper .preview-slider .swiper-slide {
    background-position: center;
    background-size: cover;
    border-radius: 3px;
}

/* Video-prewiew */

#video-preview {
    margin-top: 100px;
    margin-bottom: -100px;
}

#video-preview .video-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#video-preview .video-wrapper .video-item {
    max-width: 50%;
}

#video-preview .video-wrapper .btn {
    margin-top: 30px;
}

/* contact */

#contact {
    margin-top: 100px;
}

#contact .contact-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

#contact .contact-container .form-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#contact .contact-container .form-contact .inputs-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

#contact .contact-container .form-contact .inputs-container input, #contact .contact-container .form-contact textarea, #forgot_password .forgot-container .form-forgot input, #recovery .recovery-container .form-recovery input {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin: 10px;
    border: none;
    outline: none;
    border-radius: 12px;
    background-color: var(--blue-primary);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding: 6px 16px;
    color: var(--white);
}

#contact .contact-container .form-contact textarea {
    width: 90%;
    min-height: 200px;
}

#about .container h1.common-pagetitle.title {
    font-weight: 4px;
    font-size: 50px;
    margin-top: 50px;
    line-height: 1.5;
    letter-spacing: .8px;
}

#about .container p.common-introtext {
    font-size: 18px;
    margin: 40px auto;
    line-height: 1.5;
    letter-spacing: .8px;
    width: 50%;
}

#about .container h1.common-pagetitle, #about .container p.common-introtext {
    color: var(--blue-primary);
    text-align: center;
}

#about .section-padding .container-lg {
    max-width: 1040px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#about .section-padding .container-lg .txt-about {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

#about .section-padding {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 180px 0 100px;
}

#about .section-padding .background_container {
    -webkit-transform: skewY(-6deg);
    -ms-transform: skewY(-6deg);
    transform: skewY(-6deg);
    background-color: #eeeeee;
    z-index: -2;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    top: 0px;
    bottom: 0;
    position: absolute;
}

#about .section-padding .background_container2 {
    background-color: #eeeeee;
    z-index: -2;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    top: 140px;
    bottom: 0;
    position: absolute;
}

#about .section-padding .container-lg .txt-about .txt-big {
    margin: 0 0 16px;
    font: 900 26px Camphor;
    line-height: 1.4;
    color: var(--blue-primary);
    margin: 0px 15px 15px;
}

#about .section-padding .container-lg .txt-about .txt-medium {
    font-weight: 400;
    font-size: 19px;
    line-height: 32px;
    color: var(--blue-primary);
    margin: 0px 15px 15px;
}

#about .section-padding .container-lg .swiper-container2 {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}

#about .section-padding .container-lg .swiper-container2 .swiper-wrapper .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 210px;
    height: 400px;
}

/* forgot password */

#forgot_password {
    margin: 100px 0;
}

#forgot_password .forgot-container {
    text-align: center;
}

#forgot_password .forgot-container .form-forgot {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: auto;
}

#forgot_password .forgot-container .form-forgot input {
    width: 35%;
    margin-bottom: 20px;
}

/* Recovery */

#recovery {
    margin: 100px 0;
}

#recovery .recovery-container {
    text-align: center;
}

#recovery .recovery-container .form-recovery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: auto;
}

#recovery .recovery-container .form-recovery input {
    width: 35%;
    margin-bottom: 20px;
}

/* legal */

#legal .legal-content {
    color: var(--blue-primary);
    margin-top: 30px;
    line-height: 1.2;
    text-align: justify;
}

#legal .legal-content h1 {
    text-align: center;
    font-size: 35px;
    font-weight: var(--bold);
}

#legal .legal-content h3 {
    font-weight: var(--bold);
    margin-top: 30px;
}

#legal .legal-content strong {
    font-weight: var(--bold);
}

#legal .legal-content p {
    margin-top: 10px;
}

#legal .legal-content a {
    font-style: italic;
}

/* error */

#error .error-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
}

#error .error-content .error-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#error .error-content .error-text .error-txt {
    margin: 5px;
    font-size: 1em;
    text-transform: uppercase;
    -webkit-text-decoration: var(--bold);
    text-decoration: var(--bold);
    color: var(--blue-primary);
}

#error .error-content .error-text h1.error-txt {
    font-size: 75px;
    font-weight: 900;
}

#error .error-content .error-image {
    margin-top: 30px;
    width: 50%;
    max-width: 400px;
}

#error .error-content .error-image .error-img {
    width: 100%;
}

/* footer */

#footer {
    margin-top: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 200px 0;
    color: var(--blue-primary);
    position: relative;
    overflow: hidden;
}

#footer .footer-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#footer .footer-wrapper .footer-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

#footer .footer-wrapper .footer-row .footer-col {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0 15px;
}

#footer .footer-wrapper .footer-row .footer-col .footer-img {
    width: 100%;
    max-width: 100px;
    height: auto;
}

#footer .footer-wrapper .footer-row .footer-col .footer-item {
    margin-top: 10px;
}

#footer .footer-wrapper .footer-row .footer-col .footer-list .footer-item:first-child {
    margin-top: 20px;
}

#footer .footer-wrapper .footer-row .footer-col .footer-title {
    margin-top: 40px;
    font-weight: var(--semi-bold);
    font-size: 17px;
}

#footer .footer-wrapper .footer-row .footer-col .footer-title:first-child {
    margin-top: 0;
}

#footer .footer-wrapper .footer-row .footer-col .footer-item .footer-link {
    font-weight: var(--regular);
    color: var(--blue-primary);
}

#footer .footer-wrapper .footer-row .footer-col .footer-copyright {
    margin-top: auto;
    font-weight: var(--light);
}

@media only screen and (max-width: 1098px) {
    #header .navbar, #layout .layout-wrapper .layout-text {
        padding: 0 15px;
    }
    #contact .contact-container .form-contact .inputs-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 55%;
    }
    #contact .contact-container .form-contact textarea {
        width: 48%;
        min-height: 180px;
    }
    #contact .contact-container .form-contact {
        width: 90%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}

@media only screen and (max-width: 880px) {
    .section-padding .container-lg {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

@media only screen and (max-width: 750px) {
    :root {
        --columnCountMax: 2;
    }
    .btn {
        padding: 6px 16px 6px 16px;
    }
    .btn .btn-arrow {
        display: none;
    }
    #header .navbar .nav {
        display: none;
    }
    #header .navbar .nav .nav-item {
        display: none;
    }
    #header .navbar .container>.nav-item {
        display: none;
    }
    #header .navbar .nav-burger {
        display: initial;
    }
    #header .modal-wrapper .modal-content {
        max-height: initial;
        min-height: 100%;
        height: 100%;
        max-width: 100%;
    }
    #header .modal-wrapper .modal-content input {
        width: 80%;
    }
    #header .modal-wrapper .modal-content .modal-close {
        font-size: 24px;
        right: 30px;
        top: 35px;
    }
    #header .modal-wrapper .modal-content .form-register .inputs-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    #header .modal-wrapper .modal-content .form-register .inputs-container input:first-child {
        margin-right: 0;
    }
    #layout .layout-wrapper, #preview .preview-wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center;
    }
    #layout .layout-wrapper .layout-text .layout-text-title {
        text-align: center;
        font-size: 30px;
    }
    #layout .layout-wrapper .layout-text .layout-text-btn, #preview .preview-wrapper .preview-text .preview-text-btn {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    #layout .layout-partners {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    #layout .layout-partners .layout-partners-link {
        margin: 10px 0;
    }
    #preview .preview-wrapper .preview-slider {
        margin-top: 100px;
    }
    #preview .preview-wrapper .preview-text .preview-text-desc {
        text-align: justify;
        margin: 15px;
    }
    #preview .preview-wrapper video {
        max-width: 90%;
    }
    #video-preview {
        margin-bottom: 0px;
    }
    #video-preview .video-wrapper .video-item {
        max-width: 85%;
    }
    #legal .legal-content {
        padding: 0 30px;
    }
    #footer .footer-wrapper .footer-row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    #footer .footer-wrapper .footer-row .footer-col:last-child .footer-title:first-child {
        margin-top: 0;
        margin-top: 40px;
    }
    #contact .contact-container .form-contact .inputs-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 105%;
    }
    #contact .contact-container .form-contact textarea {
        width: 90%;
        min-height: 180px;
    }
    #contact .contact-container .form-contact {
        width: 90%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    #about .container-lg h1.common-pagetitle.title {
        font-size: 30px;
    }
    #about .container-lg p.common-introtext {
        font-size: 18px;
        margin: 40px auto 25px auto;
        width: 80%;
        text-align: justify;
    }
    #about .team {
        margin-bottom: -20%;
    }
    #about .team h1 {
        font-size: 30px;
    }
    #about .team .card p {
        width: 250px;
        margin: 30px auto;
        text-align: justify;
        padding: 10px;
        line-height: 1.4;
    }
    #forgot_password .forgot-container .form-forgot input {
        width: 70%;
    }
    #recovery .recovery-container .form-recovery input {
        width: 70%;
    }
    #about .container p.common-introtext {
        width: 95%;
    }
}

/* animations */

@-webkit-keyframes rainbow {
    0% {
        background-position: 0% 82%
    }
    50% {
        background-position: 100% 19%
    }
    100% {
        background-position: 0% 82%
    }
}

@keyframes rainbow {
    0% {
        background-position: 0% 82%
    }
    50% {
        background-position: 100% 19%
    }
    100% {
        background-position: 0% 82%
    }
}

@-webkit-keyframes float {
    0% {
        -webkit-transform: translatey(0px);
        transform: translatey(0px);
    }
    50% {
        -webkit-transform: translatey(-100px);
        transform: translatey(10px);
    }
    100% {
        -webkit-transform: translatey(0px);
        transform: translatey(0px);
    }
}

@keyframes float {
    0% {
        -webkit-transform: translatey(0px);
        transform: translatey(0px);
    }
    50% {
        -webkit-transform: translatey(-100px);
        transform: translatey(10px);
    }
    100% {
        -webkit-transform: translatey(0px);
        transform: translatey(0px);
    }
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

@-webkit-keyframes fadeOutUp {
    0% {
        opacity: 1
    }
    to {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0)
    }
}

@keyframes fadeOutUp {
    0% {
        opacity: 1
    }
    to {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0)
    }
}

@-webkit-keyframes backInDown {
    0% {
        -webkit-transform: translateY(-1200px) scale(.7);
        transform: translateY(-1200px) scale(.7);
        opacity: .7
    }
    80% {
        -webkit-transform: translateY(0) scale(.7);
        transform: translateY(0) scale(.7);
        opacity: .7
    }
    to {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
}

@keyframes backInDown {
    0% {
        -webkit-transform: translateY(-1200px) scale(.7);
        transform: translateY(-1200px) scale(.7);
        opacity: .7
    }
    80% {
        -webkit-transform: translateY(0) scale(.7);
        transform: translateY(0) scale(.7);
        opacity: .7
    }
    to {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
}

@-webkit-keyframes backOutDown {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
    20% {
        -webkit-transform: translateY(0) scale(.7);
        transform: translateY(0) scale(.7);
        opacity: .7
    }
    to {
        -webkit-transform: translateY(700px) scale(.7);
        transform: translateY(700px) scale(.7);
        opacity: .7
    }
}

@keyframes backOutDown {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
    20% {
        -webkit-transform: translateY(0) scale(.7);
        transform: translateY(0) scale(.7);
        opacity: .7
    }
    to {
        -webkit-transform: translateY(700px) scale(.7);
        transform: translateY(700px) scale(.7);
        opacity: .7
    }
}