/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* main */

:root {
    --white: #fff;
    --black: #000;
    --orange: #ce8d14;
    --blue-primary: #0a2540;
    --regular: 400;
    --semi-bold: 500;
    --bold: 700;
    --columnCountMax: 4;
}

body {
    background-color: var(--white);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: var(--regular);
    color: var(---black);
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
    color: var(--black);
    font-weight: var(--semi-bold);
    transition: all .2s;
}

a:hover {
    opacity: .6;
}

/* container */

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1068px;
}

/* btn */

.btn {
    background-color: var(--black);
    color: var(--white);
    padding: 6px 10px 6px 16px;
    border-radius: 50px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

.btn:hover {
    opacity: .6;
}

.btn.btn-white {
    color: var(--white);
    background-color: rgba(255, 255, 255, .2);
}

.btn.btn-white:hover {
    opacity: initial;
    background-color: rgba(255, 255, 255, .4);
}

.btn.btn-transparent {
    color: var(--blue-primary);
    background-color: transparent;
}


.btn.btn-blue-primary {
    color: var(--white);
    background-color: var(--blue-primary);
}

.btn.btn-blue-primary:hover {
    opacity: .6;
}


.btn .btn-arrow {
    --arrowSpacing: ;
    --arrowHoverTransition: 150ms cubic-bezier(0.215, 0.61, 0.355, 1);
    --arrowHoverOffset: translateX(3px);
    position: relative;
    top: 1px;
    margin-left: 8px;
    stroke-width: 2px;
    fill: none;
    stroke: currentColor;
}

.btn .btn-arrow .btn-arrow-line {
    opacity: 0;
    transition: .2s;
}

.btn:hover .btn-arrow .btn-arrow-line {
    opacity: 1;
}

.btn .btn-arrow .btn-arrow-tip {
    transition: .2s;
}

.btn:hover .btn-arrow .btn-arrow-tip {
    transform: translateX(3px);
}

/* grid */

.grid-wrapper {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -20;
}

.grid-wrapper .grid {
    position: relative;
    display: grid;
    grid: 1fr/repeat(var(--columnCountMax), 1fr);
    height: 100%;
}

.grid-wrapper .grid .grid-line {
    width: 1px;
    background: linear-gradient(180deg,rgba(66,71,112,0.09),rgba(66,71,112,0.09) 50%,transparent 0,transparent);
    background-size: 1px 8px;
}

.grid-wrapper .grid .grid-line:first-of-type, .grid-wrapper .grid .grid-line:last-of-type {
    background: rgba(66, 71, 112, 0.06);
}
.grid-wrapper .grid .grid-line:last-of-type {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

/* header */

#header {
    display: flex;
    flex-direction: column;
    position: relative;
}

/* header > navbar */

#header .navbar {
    height: 68px;
    display: flex;
}

#header .navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header .navbar .nav-logo {
    max-height: 25px;
    width: auto;
}

#header .navbar .nav {
    display: flex;
}

#header .navbar .nav .nav-item {
    padding: 0 20px;
}

#header .navbar .nav .nav-item .nav-link {
    font-weight: var(--bold);
    color: var(--white);
}

/* header > background-rainbow */

#layout .background-rainbow {
    z-index: -10;
    height: 600px;
    width: 100%;
    left: 0;
    right: 0;
    top: -340px;
    bottom: 0;
    position: absolute;
    background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    background-size: 1800% 1800%;
    -webkit-animation: rainbow 18s ease infinite;
    -z-animation: rainbow 18s ease infinite;
    -o-animation: rainbow 18s ease infinite;
    animation: rainbow 18s ease infinite;
    transform: skeWy(-12deg);
}
/*     --gradientColorZero: #a960ee;
    --gradientColorOne: #ff333d;
    --gradientColorTwo: #90e0ff;
    --gradientColorThree: #ffcb57; */

/* header > layout */

#layout .layout-wrapper {
    display: flex;
}

#layout .layout-wrapper .layout-text {
    flex: 1;
    margin-top: 150px;
    color: var(--blue-primary);
}

#layout .layout-wrapper .layout-text .layout-text-title {
    font-size: 50px;
    font-weight: var(--bold);
    letter-spacing: .2px;
}

#layout .layout-wrapper .layout-text .layout-text-desc {
    font-size: 16px;
    margin-top: 25px;
    line-height: 1.6;
    
}

#layout .layout-wrapper .layout-text .layout-text-btn {
    margin-top: 50px;
    display: flex;
}

#layout .layout-wrapper .layout-mockup {
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
}

#layout .layout-wrapper .layout-mockup .layout-mockup-img {
    max-width: 100%;
    height: auto;
    animation: float 6s ease-in-out infinite;
}

@media only screen and (max-width: 1098px) {
    #header .navbar,#layout .layout-wrapper .layout-text {
        padding: 0 15px;
    }
}

@media only screen and (max-width: 750px) {
    :root {
        --columnCountMax: 2;
    }
    .btn .btn-arrow {
        display: none;
    }
    #header .navbar .nav {
        display: none;
    }
    #header .navbar .btn.btn-white {
        display: none;
    }
    #layout .layout-wrapper {
        flex-direction: column;
    }
    #layout .layout-wrapper .layout-text .layout-text-title {
        text-align: center;
        font-size: 30px;
    }
    #layout .layout-wrapper .layout-text .layout-text-desc {
        text-align: center;
    }
    #layout .layout-wrapper .layout-text .layout-text-btn {
        justify-content: center;
    }
}

/* animations */

@keyframes rainbow {
    0% {
        background-position: 0% 82%
    }
    50% {
        background-position: 100% 19%
    }
    100% {
        background-position: 0% 82%
    }
}

@keyframes float {
    0% {
        -webkit-transform: translatey(0px);
        transform: translatey(0px);
    }
    50% {
        -webkit-transform: translatey(-10px);
        transform: translatey(-10px);
    }
    100% {
        -webkit-transform: translatey(0px);
        transform: translatey(0px);
    }
}

/*
:root{
--white: #EDEDED;
--gray: #BFC0C0;
--dark: #585959;
--light: #D3DEEA;
}


@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Lato');
:root{
	--big: 'Abril Fatface', serif;
--body: 'Lato', sans-serif;
}


body {
  background: linear-gradient(to left, #333, #333 50%, #eee 75%, #333 75%);
}

.top {
  margin-top: 30px;
}

.container {
  margin: 0 auto;
  position: relative;
  width: 250px;
  height: 250px;
  margin-top: -40px;
}

.ghost {
  width: 50%;
  height: 53%;
  left: 25%;
  top: 10%;
  position: absolute;
  border-radius: 50% 50% 0 0;
  background: var(--white);
  border: 1px solid var(--gray);
  border-bottom: none;
  animation: float 2s ease-out infinite;
}

.ghost-copy {
  width: 50%;
  height: 53%;
  left: 25%;
  top: 10%;
  position: absolute;
  border-radius: 50% 50% 0 0;
  background: var(--white);
  border: 1px solid var(--gray);
  border-bottom: none;
  animation: float 2s ease-out infinite;
  z-index: 0;
}


.face {
  position: absolute;
  width: 100%;
  height: 60%;
  top: 20%;
}
.eye, .eye-right {
  position: absolute;
  background: var(--dark);
  width: 13px;
  height: 13px;
  border-radius: 50%;
  top: 40%;
}

.eye {
  left: 25%;
}
.eye-right {
  right: 25%;
}

.mouth {
  position:absolute;
  top: 50%;
  left: 45%;
  width: 10px;
  height: 10px;
  border: 3px solid;
  border-radius: 50%;
  border-color: transparent var(dark) var(dark) transparent;
  transform: rotate(45deg);
}

.one, .two, .three, .four {
  position: absolute;
  background: var(--white);
  top: 85%;
  width: 25%;
  height: 23%;
  border: 1px solid var(gray);
  z-index: 0;
}

.one {
  border-radius: 0 0 100% 30%;
  left: -1px;
}

.two {
  left: 23%;
  border-radius: 0 0 50% 50%;
}

.three {
  left: 50%;
  border-radius: 0 0 50% 50%;
}

.four {
  left: 74.5%;
  border-radius: 0 0 30% 100%;
}

.shadow {
  position: absolute;
  width: 30%;
  height: 7%;
  background: var(--gray);
  left: 35%;
  top: 80%;
  border-radius: 50%;
  animation: scale 2s infinite;
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes float {
  50% {
     transform: translateY(15px);
  }
}

.bottom {
  margin-top: 10px;
}

h1 {
  font-family: var(--big);
  color: var(--white);
  text-align: center;
  font-size: 9em;
  margin: 0;
  text-shadow: -1px 0 var(--gray), 0 1px var(--gray), 1px 0 var(--gray), 0 -1px var(--gray);
}
h3 {
  font-family: var(--body);
  font-size: 2em;
  text-transform: uppercase;
  text-align: center;
  color: var(--gray);
  margin-top: -20px;
  font-weight: 900;
}
p {
  text-align: center;
  font-family: var(--body);
  color: var(--white);
  font-size: .6em;
  margin-top: -20px;
  text-transform: uppercase;
}

.search {
  text-align: center;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.btn {
  background: var(--white);
  padding: 15px 20px;
  margin: 5px;
  color: var(--dark);
  font-family: var(--body);
  text-transform: uppercase;
  font-size: .6em;
  letter-spacing: 1px;
  border: 0;
}
  
.btn:hover {
    background: var(--gray);
    transition: all .4s ease-out; 
  }
*/